node_modules
dist
.env
.DS_Store
*.log
context/
.env
*.keystore
*.jks
frontend/public/audio/*
mobile/android/app/google-services.json

.env
*.keystore
*.jks
frontend/public/audio/*
mobile/android/app/google-services.json
